extends layout.pug 

block content
  div.container 
    h1.all_blogs All blogs 

    each blog in blogs 
      div.blog-wrapper
        a.blog(href=`/blogs/${ blog.id }`) #{ blog.title } 
        a.delete(href='#') Delete
      